
/* Global */
/* ===========================================================================*/

body {
	background: linear-gradient(180deg, rgb(88, 88, 88) 0%, rgb(39, 39, 39) 100%);
	color: #aaa;
	font-family: Arial, Helvetica, sans-serif;
}

body * {
	box-sizing: border-box;
}

main {
	min-height: 100vh;
}

img {
	max-width: 100%;
	height: auto;
}

/* Structure */
/* ===========================================================================*/

.panels {
	/* align-items: center; */
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: 0 20px;
}

.panel {
	width: 50%;
}

.panel--left {
	background-color: #333;
}

.panel--main {
	background-color: #111;
	max-width: 768px; /* max base img width */
	/* max-height: 768px; */
	position: sticky;
	top: 0;
	height: 100vh;
}

.panel--right {
	background-color: #333;
}


/* Backgrounds */
/* ===========================================================================*/

.bg-1 {
	background-color: #111;
}
.bg-2 {
	background-color: #786758;
}
.bg-3 {
	background-color: #505D5C;
}
.bg-4 {
	background-color: #646464;
}
.bg-5 {
	background-color: #796461;
}
.bg-6 {
	background-color: #584E42;
}
.bg-7 {
	background-color: #444444;
}
.bg-8 {
	background-color: white;
}
.bg-9 {
	background-color: black;
}


/* Base */
/* ===========================================================================*/

.base {
	position: relative;
}

.base img {
	height: auto;
	max-width: 100%;
}

.base__layers {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.layer {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}


/* GUI */
/* ===========================================================================*/

.boxes {
	display: flex;
	flex-wrap: wrap;
}

.box {
	border: 1px solid transparent;
	/* height: 80px; */
	/* width: 80px; */
	width: 10%;
	position: relative;
	margin-right: 2px;
	margin-bottom: 2px;
}

@media (max-width: 1920px) { .box {width: 10%;} }
@media (max-width: 1536px) { .box {width: 12%;} }
@media (max-width: 1366px) { .box {width: 15%;} }
@media (max-width: 1280px) { .box {width: 17%;} }
@media (max-width: 1024px) { .box {width: 19%;} }
@media (max-width:  768px) { .box {width: 21%;} }
@media (max-width:  640px) { .box {width: 33%;} }
@media (max-width:  414px) { .box {width: 40%;} }
@media (max-width:  360px) { .box {width: calc(50% - 4px);} }

.box:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-image: url('img/base/base_no_legs.png');
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.1;
	z-index: 1;
}

.box--shownames:after {
	content: attr(title);
	font-size: 12px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.1);
}

.box img {
	position: relative;
	z-index: 2;
}

.box:hover {
	border: 1px dashed rgba(194, 194, 83, 0.6);
	cursor: pointer;
}

.box--active {
	border: 1px solid rgba(255, 166, 0, 0.5) !important;
}

.box--active:hover {
	border: 1px dashed rgba(201, 48, 48, 1) !important;
}


/* Controls */
/* ===========================================================================*/

.controls {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 20px;
	flex-wrap: wrap;
}

.control {
	border-radius: 3px;
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: white;
	margin: 0 15px 10px;
	padding: 10px;
	text-align: center;
}

.control:hover {
	cursor: pointer;
}

.control--clear {
	background-color: rgba(169, 68, 68, 0.5);
}

.control--clear:hover {
	background-color: rgba(169, 68, 68, 1);
}

.control--undo {
	background-color: rgba(167, 126, 49, 0.5);
}

.control--undo:hover {
	background-color: rgba(167, 126, 49, 1);
}

.control--toggleNames {
	background-color: black;
}

.control--bgbtn {
	border-radius: 100%;
	padding: 2px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	padding: 0;
	margin: 0 4px 5px;
}

.control--bgbtn.bg-8 {
	color: black;
}

.control--bgbtn:hover,
.control--bgbtn.control--active {
	color: rgba(255, 255, 255, 0.4);
}

/*fixes for white*/
.bg-8.control--bgbtn:hover,
.bg-8.control--bgbtn.control--active {
	color: rgba(0, 0, 0, 0.4);
}